<!-- Vyacheslav Panchenko start footer section -->
<footer class="footer">
  <div class="container">
    <nav class="footer-navigation-container">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-item">
          <a href="#section-about" class="footer-navigation-link">about us</a>
        </li>
        <li class="footer-navigation-item">
          <a href="#section-collection" class="footer-navigation-link"
            >our collection</a
          >
        </li>
        <li class="footer-navigation-item">
          <a href="#section-order" class="footer-navigation-link"
            >customer order</a
          >
        </li>
        <li class="footer-navigation-item">
          <a href="#section-testimonials" class="footer-navigation-link"
            >testimonials</a
          >
        </li>
      </ul>
    </nav>
    <div class="text-footer">
      <p class="footer-text">
        A touch of <span class="ukrainian"> Ukrainian</span> culture in every
        embroidery
      </p>
    </div>
  </div>
</footer>
<!-- Vyacheslav Panchenko end footer section -->
