<!-- Petro Kovtsun start header section -->

<header class="header-section">
  <div class="container header-general-div">
    <nav class="container-navigation">
      <a href="../index.html" class="header-logo">
        <img src="/favicon.svg" alt="logo our compani" width="44" height="39" />
      </a>
      <ul class="navigation-link-list">
        <li>
          <a href="#section-about" class="navigation-link header-first-nav-link"
            >about us</a
          >
        </li>
        <li>
          <a href="#collection" class="navigation-link header-second-nav-link"
            >our collection
          </a>
        </li>
        <li>
          <a
            href="#section-order"
            class="navigation-link header-second-nav-link"
            >customer order</a
          >
        </li>
        <li>
          <a
            href="#section-testimonials"
            class="navigation-link header-second-nav-link"
            >testimonials</a
          >
        </li>
      </ul>
    </nav>

    <div class="header-addres-div">
      <address class="address-keys">
        <a class="header-addres-phone" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
        <ul class="header-social-list">
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              class="header-social-link"
            >
              <svg width="28" height="28">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              class="header-social-link"
            >
              <svg width="28" height="28">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" class="header-social-link">
              <svg width="28" height="28">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
      <button class="burger-menu-bth" type="button" id="open-menu">
        <img src="/Nav.svg" alt="logo our compani" width="36" height="24" />
      </button>
    </div>
  </div>
</header>
<!-- Petro Kovtsun end header section -->
