<!-- Bohdan Tkach start hero section -->

<section class="hero container">
  <h1 class="title-hero">
    Reviving the traditional
    <span class="ukrainian-hero">Ukrainian</span> artistry in every stitch.
  </h1>
  <a class="link-order-hero" href="#section-order">
    Order<svg
      class="icon-arrow"
      width="26"
      height="10"
      aria-label="yellow arrow"
    >
      <use href="../img/icons.svg#icon-arrow"></use>
    </svg>
  </a>
  <div class="icon-text-wrapper">
    <svg
      class="star-made-by-hand"
      width="52"
      height="51"
      aria-label="yellow star"
    >
      <use href="../img/icons.svg#icon-sun"></use>
    </svg>
    <p class="text-under-icon">all embroidery is made by hand</p>
  </div>
  <div class="hero-container-girl">
    <img
      class="photo-hero"
      srcset="
        ../img/hero/mobile/girl-mobile.jpg     288w,
        ../img/hero/mobile/girl-mobile@2x.jpg  576w,
        ../img/hero/tablet/girl-tablet.jpg     356w,
        ../img/hero/tablet/girl-tablet@2x.jpg  712w,
        ./img/hero/desktop/girl-desktop.jpg    360w,
        ./img/hero/desktop/girl-desktop@2x.jpg 720w
      "
      sizes="
									(min-width: 1158px) 360px,
								    (min-width: 768px) 356px, 
									(max-width: 767px) 288px"
      src="../img/hero/tablet/girl-tablet.jpg"
      alt="photo model vyshyvanka"
    />
    <div class="hero-cloth-ukraine">
      <img
        class="cloth-ukraine"
        srcset="../img/hero/tablet/group-image-tablet.jpg 356w,
        ../img/hero/tablet/group-image-tablet@2x.jpg 712w,
        ../img/hero/desktop/group-img-desk-12.jpg 360w
        ../img/hero/desktop/group-img-desk-12@2x.jpg 720w
        "
        sizes="
									(min-width: 1158px) 360px,
								    (min-width: 768px) 356px"
        src="../img/hero/tablet/group-image-tablet.jpg"
        alt="photo cloth"
        width="157"
        height="191"
      />
    </div>
  </div>
</section>
<!-- Bohdan Tkach end hero section -->
