<!-- Bohdan Tkach start hero section -->

<!-- Bohdan Tkach end hero section -->
<section class="hero">
  <div class="container">
    <div class="hero-container-girl-link">
      <div>
        <h1 class="title-hero">
          Reviving the traditional
          <span class="ukrainian-hero">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="link-order-hero" href="#section-order">
          Order
          <svg
            class="icon-arrow"
            width="26"
            height="10"
            aria-label="yellow arrow"
          >
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="hero-icon-text-wrapper">
        <svg
          class="star-made-by-hand"
          width="52"
          height="51"
          aria-label="yellow star"
        >
          <use href="./img/icons.svg#icon-sun"></use>
        </svg>
        <p class="text-under-icon">all embroidery is made by hand</p>
      </div>
      <img
        class="photo-hero"
        srcset="
          ./img/hero/mobile/girl-mobile.jpg      335w,
          ./img/hero/mobile/girl-mobile@2x.jpg   670w,
          ./img/hero/desktop/girl-desktop.jpg    392w,
          ./img/hero/desktop/girl-desktop@2x.jpg 784w,
          ./img/hero/tablet/girl-tablet.jpg      413w,
          ./img/hero/tablet/girl-tablet@2x.jpg   826w
        "
        sizes="(min-width: 1280px) 392px,
          (min-width: 768px) 413px,
          (max-width: 767px) 335px"
        src="./img/hero/mobile/girl-mobile.jpg"
        alt="photo model vyshyvanka"
      />
    </div>
    <div class="hero-cloth-ukraine">
      <img
        class="cloth-ukraine"
        srcset="./img/hero/tablet/group-image-tablet.jpg 157w,
        ./img/hero/tablet/group-image-tablet@2x.jpg 314w,
        ./img/hero/desktop/group-img-desk-12.jpg 142w
        ./img/hero/desktop/group-img-desk-12@2x.jpg 284w"
        sizes="
									(min-width: 1158px) 142px,
								    (min-width: 768px) 157px"
        src="./images/hero/hero-group-tablet.jpg"
        alt="photo cloth"
      />
    </div>
  </div>
</section>
