<!-- Bohdan Tkach start hero section -->
<section class="hero container">
  <div class="title-btn-wrapper">
    <h2 class="title-hero">
      Reviving the traditional
      <span class="ukrainian-hero">Ukrainian</span> artistry in every stitch.
    </h2>
    <button class="btn-order-hero" type="button">
      Order<svg class="icon-arrow" width="" height="" aria-label="yellow arrow">
        <use href=""></use>
      </svg>
    </button>
  </div>
  <img
    class="photo-hero"
    srcset=""
    src=""
    alt="photo model vyshyvanka"
    width=""
    height=""
  />
  <div class="icon-text-wrapper">
    <svg class="star-made-by-hand" width="" height="" aria-label="yellow star">
      <use href=""></use>
    </svg>
    <p class="text-under-icon"></p>
  </div>
  <img
    class="cloth-ukraine"
    srcset=""
    src=""
    alt="photo cloth"
    width=""
    height=""
  />
</section>
<!-- Bohdan Tkach end hero section -->
