<!-- Yurii Shyian start menu section -->
<div class="menu">
  <div class="menu-number-and-close">
    <address class="menu-contacts">
      <a href="tel:380684439426" class="menu-contacts-number"
        >+380 (68) 443-94-26</a
      >
    </address>
    <button class="menu-close-btn" id="close-menu" type="button">
      <svg
        class="menu-close-icon"
        width="32"
        height="36"
        aria-label="menu close icon"
      >
        <use href="/img/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
  </div>
  <nav class="menu-navigation">
    <ul class="menu-navigation-list">
      <li class="menu-navigation-item">
        <a href="#section-about" class="menu-navigation-link">About us</a>
      </li>
      <li class="menu-navigation-item">
        <a href="#collection" class="menu-navigation-link">Our collection </a>
      </li>
      <li class="menu-navigation-item">
        <a href="#section-order" class="menu-navigation-link">Customer order</a>
      </li>
      <li class="menu-navigation-item">
        <a href="#section-testimonials" class="menu-navigation-link"
          >Testimonials</a
        >
      </li>
    </ul>
  </nav>
</div>
<!-- Yurii Shyian end menu section -->
