<!-- Vasyl Kozhokar start our collection section -->
<section class="collection-section" id="collection">
  <div class="container">
    <h2 class="title-collection">Our collection</h2>
    <ul class="container-collection-descr">
      <li class="container-collection-descr-item">
        <div class="container-collection-img">
          <img
            class="our-collection-img"
            srcset="
              ./img/our_collection/mobile/poltava.jpg           335w,
              ./img/our_collection/mobile/poltava@2x.jpg        670w,
              ./img/our_collection/tablet/poltava-tablet.jpg    342w,
              ./img/our_collection/tablet/poltava-tablet@2x.jpg 684w,
              ./img/our_collection/desktop_1280/poltava.jpg     347w,
              ./img/our_collection/desktop_1280/poltava@2x.jpg  694w
            "
            sizes="
                  (min-width: 1280px) 347px,
                  (min-width: 768px) 342px, 
                  (max-width: 767px) 335px"
            src="./img/our_collection/mobile/poltava.jpg"
            alt="3300 UAH"
          />
        </div>
        <div class="container-paragraf-our-collection">
          <h3 class="our-collection-title-paragraf">
            august poltava women's blousering
          </h3>
          <p class="our-collection-price-deskr">3300 UAH</p>
        </div>
      </li>
      <li class="container-collection-descr-item">
        <div class="container-collection-img">
          <img
            class="our-collection-img"
            srcset="
              ./img/our_collection/mobile/gorgany.jpg           335w,
              ./img/our_collection/mobile/gorgany@2x.jpg        670w,
              ./img/our_collection/tablet/gorgany-tablet.jpg    342w,
              ./img/our_collection/tablet/gorgany-tablet@2x.jpg 684w,
              ./img/our_collection/desktop_1280/gorgany.jpg     347w,
              ./img/our_collection/desktop_1280/gorgany@2x.jpg  694w
            "
            sizes="
              (min-width: 1280px) 347px,
              (min-width: 768px) 342px, 
              (max-width: 767px) 335px"
            src="./img/our_collection/mobile/gorgany.jpg"
            alt="3300 UAH"
          />
        </div>
        <div class="container-paragraf">
          <h3 class="our-collection-title-paragraf">women's blouse gorgany</h3>
          <p class="our-collection-price-deskr">3350 UAH</p>
        </div>
      </li>
      <li class="container-collection-descr-item">
        <div class="container-collection-img">
          <img
            class="our-collection-img"
            srcset="
              ./img/our_collection/mobile/mountain.jpg           335w,
              ./img/our_collection/mobile/mountain@2x.jpg        670w,
              ./img/our_collection/tablet/mauntain-tablet.jpg    342w,
              ./img/our_collection/tablet/mauntain-tablet@2x.jpg 684w,
              ./img/our_collection/desktop_1280/mountain.jpg     347w,
              ./img/our_collection/desktop_1280/mountain@2x.jpg  694w
            "
            sizes="
              (min-width: 1280px) 347px,
              (min-width: 768px) 342px, 
              (max-width: 767px) 335px"
            src="./img/our_collection/mobile/mountain.jpg"
            alt="3350 UAH"
          />
        </div>
        <div class="container-paragraf">
          <h3 class="our-collection-title-paragraf">women's blouse crimea</h3>
          <p class="our-collection-price-deskr">4000 UAH</p>
        </div>
      </li>
      <li class="container-collection-descr-item">
        <div class="container-collection-img">
          <img
            class="our-collection-img"
            srcset="
              ./img/our_collection/mobile/yasen.jpg           335w,
              ./img/our_collection/mobile/yasen@2x.jpg        670w,
              ./img/our_collection/tablet/yasen-tablet.jpg    342w,
              ./img/our_collection/tablet/yasen-tablet@2x.jpg 684w,
              ./img/our_collection/desktop_1280/yasen.jpg     347w,
              ./img/our_collection/desktop_1280/yasen@2x.jpg  694w
            "
            sizes="
              (min-width: 1280px) 347px,
              (min-width: 768px) 342px, 
              (max-width: 767px) 335px"
            src="./img/our_collection/mobile/yasen.jpg"
            alt="4000 UAH"
          />
        </div>
        <div class="container-paragraf">
          <h3 class="our-collection-title-paragraf">men's shirt verkhovina</h3>
          <p class="our-collection-price-deskr">3100 UAH</p>
        </div>
      </li>
      <li class="container-collection-descr-item">
        <div class="container-collection-img">
          <img
            class="our-collection-img"
            srcset="
              ./img/our_collection/mobile/crimea.jpg           335w,
              ./img/our_collection/mobile/crimea@2x.jpg        670w,
              ./img/our_collection/tablet/crimea-tablet.jpg    342w,
              ./img/our_collection/tablet/crimea-tablet@2x.jpg 684w,
              ./img/our_collection/desktop_1280/crimea.jpg     347w,
              ./img/our_collection/desktop_1280/crimea@2x.jpg  694w
            "
            sizes="
              (min-width: 1280px) 347px,
              (min-width: 768px) 342px, 
              (max-width: 767px) 335px"
            src="./img/our_collection/mobile/crimea.jpg"
            alt="3100 UAH"
          />
        </div>
        <div class="container-paragraf">
          <h3 class="our-collection-title-paragraf">mountain men's shirt</h3>
          <p class="our-collection-price-deskr">3300 UAH</p>
        </div>
      </li>
      <li class="container-collection-descr-item">
        <div class="container-collection-img">
          <img
            class="our-collection-img"
            srcset="
              ./img/our_collection/mobile/verhovina.jpg           335w,
              ./img/our_collection/mobile/verhovina@2x.jpg        670w,
              ./img/our_collection/tablet/verhovina-tablet.jpg    342w,
              ./img/our_collection/tablet/verhovina-tablet@2x.jpg 684w,
              ./img/our_collection/desktop_1280/verhovina.jpg     347w,
              ./img/our_collection/desktop_1280/verhovina@2x.jpg  694w
            "
            sizes="
              (min-width: 1280px) 347px,
              (min-width: 768px) 342px, 
              (max-width: 767px) 335px"
            src="./img/our_collection/mobile/verhovina.jpg"
            alt="3300 UAH"
          />
        </div>
        <div class="container-paragraf">
          <h3 class="our-collection-title-paragraf">men's shirt Yasen</h3>
          <p class="our-collection-price-deskr">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Vasyl Kozhokar end our collection section -->
