/* Bohdan Tkach end styles hero section */
.hero {
  background: var(--primary-color);
}
.title-hero {
  color: var(--secondary-color);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 64px;
  padding-bottom: 20px;
  max-width: 335px;
}
.ukrainian-hero {
  color: var(--accent-color);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.003em;
}
.link-order-hero {
  margin-bottom: 40px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background: var(--primary-color);
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-left: 90px;
  display: block;
  max-width: 155px;
}
.link-order-hero:hover,
.link-order-hero:focus,
.link-order-hero:active {
  border: 1px solid var(--accent-color);
}
.icon-text-wrapper {
  display: none;
}
.hero-cloth-ukraine {
  display: none;
}
.photo-hero {
  /* padding-top: 40px; */
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .hero {
    position: relative;
  }

  .icon-text-wrapper {
    position: absolute;
    top: 80px;
    right: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .link-order-hero {
    font-size: 16px;
    padding: 14px 39px;
    margin-left: 173px;
    display: block;
    max-width: 168px;
  }

  .hero-container-girl {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .hero-cloth-ukraine {
    display: block;
    width: 157px;
    height: 96px;
    border-radius: 50% / 100% 100% 0 0;
    overflow: hidden;
    margin-bottom: 100px;
  }

  .photo-hero {
    padding-bottom: 100px;
  }

  .text-under-icon {
    color: var(--text-gray-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
    width: 115px;
  }

  .title-hero {
    font-size: 54px;
    padding-top: 106px;
    padding-bottom: 40px;
    width: 549px;
  }

  .ukrainian-hero {
    font-size: 54px;
  }
}
@media screen and (min-width: 1158px) {
}
/* .hero {
  background: #1c2225;
  position: relative;
}

.icon-text-wrapper {
  position: absolute;
  top: 80px;
  right: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.link-order-hero {
  margin-bottom: 40px;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background: var(--primary-color);
  padding: 14px 39px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-left: 173px;
  display: block;
  max-width: 168px;
}

.hero-container-girl {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-cloth-ukraine {
  width: 157px;
  height: 96px;
  border-radius: 50% / 100% 100% 0 0;
  overflow: hidden;
  margin-bottom: 100px;
}

.photo-hero {
  padding-top: 40px;
  padding-bottom: 100px;
}

.text-under-icon {
  color: var(--text-gray-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  width: 115px;
}

.title-hero {
  color: var(--secondary-color);
  font-size: 54px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.03em;
  padding-top: 106px;
  padding-bottom: 40px;
  width: 549px;
}

.ukrainian-hero {
  color: var(--accent-color);
  font-size: 54px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.03em;
} */
/* Bohdan Tkach end styles hero section */
