/* Bohdan Tkach start styles hero section */
.hero {
  background-color: var(--primary-color);
}
.title-hero {
  color: var(--secondary-color);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2; /* 122.727% */
  letter-spacing: 0.003em;
  display: block;
  margin: 60px auto 20px auto;
  max-width: 335px;
}
.ukrainian-hero {
  color: var(--accent-color);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.003em;
}
.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-order-hero {
  display: block;
  height: 49px;
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-right: auto;
  margin-left: auto;
  max-width: 168px;
  background-color: var(--primary-color);
}
.text-for-button {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.icon-text-wrapper {
  display: none;
}
.cloth-ukraine {
  display: none;
}
/* Bohdan Tkach end styles hero section */
