/* Bohdan Tkach end styles hero section */

.hero-icon-text-wrapper {
  display: none;
}
.hero-cloth-ukraine {
  display: none;
}
.hero {
  background: var(--primary-color);
}
.link-order-hero {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background: #1c2225;
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-left: 70px;
  max-width: 155px;
  height: 49px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.link-order-hero:hover,
.link-order-hero:focus,
.link-order-hero:active {
  border: 1px solid var(--accent-color);
}
.photo-hero {
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
}
.title-hero {
  color: var(--secondary-color);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  padding-top: 60px;
  padding-bottom: 20px;
}
.ukrainian-hero {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero {
    position: relative;
  }
  /* .hero-container-girl {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  } */
  .hero-icon-text-wrapper {
    position: absolute;
    top: 80px;
    right: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .text-under-icon {
    color: var(--text-gray-color);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
    width: 115px;
  }
  .cloth-ukraine {
    width: 157px;
    height: 191px;
  }
  .hero-cloth-ukraine {
    position: absolute;
    bottom: 0;
    right: 23px;
    display: block;
    width: 157px;
    height: 96px;
    border-radius: 50% / 100% 100% 0 0;
    overflow: hidden;
    margin-bottom: 100px;
  }
  .link-order-hero {
    padding: 14px 39px;
    margin-left: 141px;
  }
  .title-hero {
    padding-top: 106px;
    padding-bottom: 40px;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -0.03em;
    width: 539px;
  }
  .photo-hero {
    width: 413px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .cloth-ukraine {
    width: 142px;
    height: 157px;
  }
  .hero-cloth-ukraine {
    position: absolute;
    bottom: 0;
    right: 100px;
    display: block;
    width: 142px;
    height: 79px;
    overflow: hidden;
    margin-bottom: 150px;
  }
  .hero-icon-text-wrapper {
    top: 114px;
    right: 100px;
  }
  .hero-container-girl-link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 40px;
  }
  .title-hero {
    width: 518px;
    padding-top: 194px;
  }
  .photo-hero {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
