/* Vasyl Kozhokar start styles our collection section */

.collection-section {

    background-image: url(../img/our_collection/background/mobile.png);
    background-repeat: no-repeat;
    background-position: top 0% left 70%;
    background-color: var(--primary-color, #1C2225) ;
    padding-bottom: 80px;

    background-image: url(/img/our_collection/background/elements-our-collection-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top 316px left 0px;
    background-color: var(--primary-color, #1C2225);
    padding-bottom: 80px;
}

.title-collection {
    color: var(--white, #FCF9F9);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.06em;
    margin-bottom: 40px;
    text-align: center;
}

.our-collection-img {
    width: 100%;
}

.container-collection-descr-item {
    border-radius: 4px;
    padding-bottom: 20px;
}

.container-collection-descr-item:last-child {
    padding-bottom: 0;
}

.container-collection-img {
    margin: 0 auto;
}

.container-collection-descr-item:last-child {
    margin-bottom: 0px;
}


.our-collection-title-paragraf {
    overflow: hidden;
    color: var(--white, #FCF9F9);
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 18px;
}

.our-collection-price-deskr {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
.container-collection-descr {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 19px;
}
.collection-section{
    padding-bottom: 100px;
}


    .container-block {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .collection-section {
        background-image: url(/img/our_collection/background/elements-our-collection-tablet.jpg);
        background-position: top 220px left 0px;
        padding-bottom: 100px;
    }

.deskr {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
      line-height: 1.4; /* 100% */
    letter-spacing: 0.04em;
}

.collection-section {
    background-image: url(../img/our_collection/background/tablet.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: var(--primary-color, #1C2225) ;
}
}

@media screen and (min-width: 1280px) {
.collection-section {
    padding: 150px 0;
}

    .container-block {
        width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .collection-section {
        background-image: url(/img/our_collection/background/elements-our-collection-desktop.jpg);
        background-position: top 220px left 0px;
        padding-bottom: 150px;
    }

    .container-collection-descr-item {
        width: calc((100% - 40px) / 3);
        margin: 0;
    }

    .container-collection-descr {
        row-gap: 40px;
        column-gap: 20px;
    }

}

.our-collection-price-deskr {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.04em;
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (max-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (max-width: 1280px) {
    .collection-section {
        background-image: url(/img/our_collection/background/elements-our-collection-desktop@2x.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (max-width: 1279px),
screen and (min-resolution: 2dppx) and (max-width: 1279px),
screen and (min-device-pixel-ratio: 2) and (max-width: 1279px) {
    .collection-section {
        background-image: url(/img/our_collection/background/elements-our-collection-tablet@2x.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .collection-section {
        background-image: url(/img/our_collection/background/elements-our-collection-mobile@2x.jpg);
    }
}

.collection-section {
    background-image: url(../img/our_collection/background/desktop.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: var(--primary-color, #1C2225) ;
}



/* Vasyl Kozhokar end styles our collection section */