/*  Olha Yurieva start styles testimonials section */

.testimonials-segment {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .testimonials-segment {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.testimonials-segment-title {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37; /* 137.5% */
  letter-spacing: -0.03em;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .testimonials-segment-title {
    font-size: 44px;
    line-height: 1.45; /* 145.455% */
  }
}

.testimonials-menu {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (min-width: 768px) {
  .testimonials-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .testimonials-segment {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .testimonials-menu {
    flex-wrap: nowrap;
  }
}

.testimonials-menu .testimonials-menu-item:nth-child(2) {
  display: none;
}

.testimonials-menu .testimonials-menu-item:nth-child(3) {
  display: none;
}

@media screen and (min-width: 768px) {
  .testimonials-menu .testimonials-menu-item:nth-child(2) {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-menu .testimonials-menu-item:nth-child(3) {
    display: block;
  }
}

.testimonials-menu-item {
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding-top: 80px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .testimonials-menu-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-menu-item {
    width: calc((100% - 52px) / 3);
  }
}

.testimonial-img-wrapper {
  max-width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden;
  position: absolute;
  z-index: 99999999999;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-img {
  max-width: 100%;
}

.testimonials-category-title {
  color: var(--white, #fcf9f9);
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  margin-bottom: 8px;
}

.testimonials-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .testimonials-text {
    font-size: 16px;
  }
}

/*  Olha Yurieva end styles testimonials section */
